<style>
    .modal-content {
      background-color: #212121;
      color: white;
    }
  </style>

  <!-- Selling Confirm -->
  <div class="modal fade" id="buy-ticket" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            <!-- -->
            {{ train.train_name }}
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4 class="text-center">
              Are you sure you want to buy {{seats_to_book}} tickets for {{seats_to_book*train.ticket_price}} ?
            </h4>
            <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  >Close
          </button>
          <button type="button" class="btn btn-secondary" id ="confirm_ticket">Confirm
          </button>
        </div>
      </div>
    </div>
  </div>